# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de compilación
dist/
build/
*.tsbuildinfo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE y editores
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Logs
logs/
*.log

# Archivos de cobertura de pruebas
coverage/

# Archivos temporales
tmp/
temp/ 